node_modules
dist
dist-onpremise
dist-ssr
*.local
.env
.env.local
functions/.env
.env.production
.firebase
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
